<div class="row">
  <div class="well col-xs-6">
    <select
      data-ng-options="item as item.value for item in options"
      ng-model="withoutAvDropdown"
    ></select>
    <br />
    Result without avDropdown:
    {{withoutAvDropdown | json}}
  </div>

  <div class="well col-xs-6">
    <select
      data-av-dropdown
      data-ng-options="item as item.value for item in options"
      ng-model="withAvDropdown"
    ></select>
    <br />
    Result with avDropdown:
    {{withAvDropdown | json}}
  </div>
</div>



